* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', sans-serif;
}

/* header style start */
header {
    padding: 20px;
    background-color: #2a607c;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
    display: inline;
    font-weight: normal;
    font-family: 'Trebuchet MS', sans-serif;
}

header h1 span {
    color: #d9dcd6;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header nav {
    float: right;
    margin: 20px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 18px;
}


/* DELETE?*/
p {
    font-size: 16px;
}


/* hero style start */
.hero {
    height: 800px;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

/* services and benefits styles start */
.services {
    width: 78%;
    float: left;
}

.service{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    overflow: auto;
    padding: 50px;
    margin: 0 20px 20px 20px;
}

.service img {
    width: 35%;
    float: left;
}

.service-detail {
    padding: 0 20px 0 20px;
    float: left;
    width: 65%;
}

.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.service p {
    font-size: 17px;
    line-height: 1.3;
}

.text-left {
    text-align: left;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* benefits styles start */

.benefits {
    
    padding: 20px;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin: 0 0 0 0;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* footer style starts */

footer {
    width: 100%;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    display: inline;
    font-size: 20px;
    margin: 0;
}

